.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 10px 20px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-image: url("/images/shop1.webp");
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  display: block;
  width: 60%;
}

.logo img {
  width: 100%;
  height: auto;
  filter: invert(1);
}

.contactInfoMobile {
  display: flex;
}

.contactInfo {
  display: none;
  gap: 20px;
  justify-content: space-between;
  height: fit-content;
  color: white;
}

.contactInfo a:first-of-type {
  padding-right: 20px;
  border-right: 1px solid white;
}

.contactInfo a:hover > span {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.infoList {
  width: 100%;
  max-width: 300px;
  margin-bottom: 30px;
}

.infoList:last-of-type {
  margin-bottom: unset;
}

.infoList h4 {
  width: 100%;
}

.infoList ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.infoList ul li {
  display: flex;
  justify-content: space-between;
}

.infoList ul li a {
  display: contents;
}

.infoList ul li:hover a > span {
  text-decoration: underline;
}

.infoList.contact {
  width: 220px;
}

.infoList address {
  line-height: 1.25rem;
}

/* TYPOGRAPHY */
.italic {
  font-style: italic;
}

.finePrint {
  font-size: 0.875rem;
}

.upperCase {
  text-transform: uppercase;
}

/* RESPONSIVE */
@media all and (min-width: 414px) {
  .logo {
    width: 240px;
  }
}

@media all and (min-width: 568px) {
  .infoList {
    margin-bottom: 30px;
  }
}

@media all and (min-width: 768px) {
  .contactInfoMobile {
    display: none;
  }

  .contactInfo {
    display: flex;
  }
}

@media all and (min-width: 900px) {
  .finePrint {
    font-size: 1rem;
  }
}
